<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">MyCinema</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Main</a>
            <a class="p-2 text-dark" href="/about">About</a>
            <a class="p-2 text-dark" href="/ticket">Tickets</a>
            <a class="p-2 text-dark" href="/ticket/add">Add Ticket</a>
            <a class="p-2 text-dark" href="/seance">Seances</a>
            <a class="p-2 text-dark" href="/seance/add">Add Seances</a>
            <a class="p-2 text-dark" href="/movie">Movie</a>
            <a class="p-2 text-dark" href="/movie/add">Add Movie</a>
            <a class="p-2 text-dark" href="/halls">Halls</a>
            <a class="p-2 text-dark" href="/halls/add">Add Halls</a>
        </nav>
        <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>
</div>